In [2]:
data = {1: 'nancy'}
print(data[1])

nancy

In [1]:
a = 44
print(type(a))

<class 'int'>

In [1]:
max = 50 if 50>49 else 49
print(max)

50

In [2]:
b = 1j
print(type(b))

<class 'complex'>

In [16]:
set1 = {2,3,4,5}
print(set1)
set1.update([10,11])
print(set1)
set1.clear()
print(set1)

{2, 3, 4, 5}
{2, 3, 4, 5, 10, 11}
set()

In [8]:
print("nancy")

nancy

In [1]:
list = [1,2,[3,4]]
print(list)

[1, 2, [3, 4]]

In [6]:
list = []
list.append(1)
list.append(2)
print(list)
list.insert(1,3)
print(list)
print(list[1])
print(list[-1])
list.extend([23,34,45])
print(list)

[1, 2]
[1, 3, 2]
3
2
[1, 3, 2, 23, 34, 45]

In [3]:
list = [1,2,3,4,5,6,7,8,9]
list.remove(3)
list.pop(1)
print(list)

[1, 4, 5, 6, 7, 8, 9]

In [10]:
tup = (1,2,3)
print(tup)

(1, 2, 3)

In [11]:
print(type(True))
print(type(false)) #only captial F and T are acceptable

<class 'bool'>

NameError: name 'false' is not defined

In [2]:
a = ['python',2,3,4,5]
print(len(a))

5

In [6]:
a = [2,3,4,6]
b = [9,8,7,6]
print(a+b)
print(a[1:2])
print([b[0:0]])

[2, 3, 4, 6, 9, 8, 7, 6]
[3]
[[]]

In [13]:
list = [1,2,3,45]
n = list.index(45)
print(n)

3

In [14]:
list = [1,2,3,45]
n = list.copy()
print(n)

[1, 2, 3, 45]

In [15]:
list = [1,2,3,4]
list.reverse()
print(list)

[4, 3, 2, 1]

In [16]:
list= [1,2,3,1,2,3,1,2,3]
print(list.count(2))

3

In [18]:
list = [4,6,22,8,9,444]
list.sort()
print(list)

[4, 6, 8, 9, 22, 444]

In [24]:
list = [4,6,22,8,9,444]
id(list)

2425590432448

In [20]:
list = [4,6,22,8,9,444,4,5,6]
id(list)

2425590436672

In [25]:
a=22
b=44
c=a+b
print("The sum of {} and {} is {}".format(a,b,c))

The sum of 22 and 44 is 66

In [3]:
a = 23
if a%2==0:
  print("Even num")
else:
  print("odd")

odd

In [17]:
a=int(input("Enter a "))
b=int(input("enter b"))
if a>b:
    print("a is greater")
elif a==b:
    print("a is equalto b")
else:
    print("B is greater than a")

Enter a 22
enter b22
a is equalto b

In [15]:
x = float(input("Enter a number"))
if x>=0:
    if x==0:
        print("zero")
    else:
        print("Positive")
else:
    print("Neg")

Enter a number0
zero

In [5]:
d = [2,3,4,5,6,7,8,9]
for i in d:
   print(i)

2
3
4
5
6
7
8
9

In [8]:
for x in "bananas":
  print(x)

b
a
n
a
n
a
s

In [12]:
i=1
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [6]:
i=1
while i<6:
    print(i)
    if(i==3):
      break
    i=i+1

1
2
3

In [22]:
#break,continue,pass
s = "computer programming"
for letter in s:
    if letter=='e' or letter=='r':
     break
    print(letter,end=" ")
for letter in s:
    if letter=='e' or letter=='r':
     continue
    print(letter,end=" ")

c o m p u t c o m p u t   p o g a m m i n g

In [10]:
#function
def greet():
   print("hello")
def add (x,y):
    c=x+y
    print(c)
greet()
add(5,4)

hello
9

In [12]:
def evenOdd(x):
 if x%2==0:
  print("Even")
 else:
  print("Odd")
evenOdd(4)
evenOdd(5)

Even
Odd

In [21]:
#default arguments
def myfunc(x,y=50):
 print(x)
 print(y)
myfunc(10)

10
50

In [23]:
def myFun(*argv): 
    for i in argv: 
        print (i)
    
myFun('Hello', 'Welcome', 'to', 'Jupyter')

Hello
Welcome
to
Jupyter

In [60]:
i<=10
for x in i:
    print(x, end=" ")
    i+=1

NameError: name 'i' is not defined

In [37]:
def myFun(arg1, **kwargs): 
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))
  
# Driver code
myFun("Hi", first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [3]:
x=lambda a: a+10
print(x(5))

15

In [4]:
cube = lambda a: a*a*a
print(cube(3))

27

In [6]:
my_list= [1,2,3,4,5,6]
new_list=list(map(lambda a: a*2, my_list))
print(new_list)

[2, 4, 6, 8, 10, 12]

In [9]:
list = [1,2,3,4,5,6,7]
mylist = [x*x for x in list if x%2==0]
print(mylist)

[4, 16, 36]

In [11]:
cube = lambda a:a*a*a
print(cube(3))

27

In [5]:
def myfun(food):
 for x in food:
  print(x)
fruits = [1,2,3]
myfun(fruits)

1
2
3

In [8]:
def won(food):
 for x in food:
  print(x)
fruits = [1,2,3,4]
won(fruits)

1
2
3
4

In [12]:
def addsub(x,y):
 c=x+y
 d=x-y
 return c,d
res1,res2 = addsub(5,4)
print(res1,res2)

9 1

In [22]:
def add(*params):
 sum=0
 for x in params:
    sum=sum+x
 print(sum)
mylist=[1,2,3]
add(*mylist)

6

In [55]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] # Declaring the list
count_odd = 0
count_even = 0
for x in numbers:
        if  x % 2==0:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

In [64]:
l=[1,2,3]
l.extend(l)
print(l)

[1, 2, 3, 1, 2, 3]

In [65]:
str1 = "python" + "programming"
print(str1)

pythonprogramming

In [66]:
str2 = "python" * 3
print(str2)

pythonpythonpython

In [74]:
a = "nancydhivya belongs to AI Department"
print(a.split())

['nancydhivya', 'belongs', 'to', 'AI', 'Department']

In [75]:
a = 'nancy'
type(a)

str